{% extends 'core/base.html' %}

{% block title %}Details{% endblock %}

{% block content%}
    <div class="px-6 py-6">
        <h1 class="mb-4 text-xl">{{ lead.name }}</h1>

        {% if lead.description %}
            <p class="font-semibold">Name</p>
            <p class="mb-2">{{ lead.description }}</p>
        {% endif %}

        <p class="font-semibold">Priority</p>
        <p class="mb-2">{{ lead.get_priority_display }}</p>

        <p class="font-semibold">Status</p>
        <p class="mb-2">{{ lead.get_status_display }}</p>

        <p class="font-semibold">Created</p>
        <p class="mb-4">{{ lead.created_at }}</p>

        <hr class="my-4">

        <a href="{% url 'leads:delete_leads' lead.id %}" class="py-3 px-6 bg-red-800 rounded-xl text-white font-bold">Delete</a>
        <a href="{% url 'leads:edit_leads' lead.id %}" class="py-3 px-6 bg-green-400 rounded-xl text-white font-bold">Edit</a>

        <hr class="my-4 mb-4">
        <a href="{% url 'leads:leads_convert' lead.id %}" class="py-3 px-6 bg-blue-500 rounded-xl text-white font-bold">Convert to client</a>

        <hr class="my-4">


        <a href="{% url 'leads:leads_list' %}">⬅️Back to leads</a>
    </div>
{% endblock%}